footer.page-footer.font-small.blue-grey.lighten-5
  div.blue
    .container
      .row.py-4.d-flex.align-items-center
        .col-md-7.text-center.text-md-left.mb-4.mb-md-0
          h6.mb-0 Get connected with us on social networks!
          
        .col-md-5.text-center.text-md-right
          a.fb-ic
            i.fab.fa-facebook-f.white-text.mr-4
          a.tw-ic
            i.fab.fa-twitter.white-text.mr-4
          a.gplus-ic
            i.fab.fa-google-plus-g.white-text.mr-4
          a.li-ic
            i.fab.fa-linkedin-in.white-text.mr-4
          a.ins-ic
            i.fab.fa-instagram.white-text  

  .container.text-center.text-md-left.mt-5
    .row.mt-3.dark-grey-text.pb-4    
      .col-md-8.mx-auto.mb-md-0.mb-4
        h6.text-uppercase.font-weight-bold Submit Query Here
        hr.blue.accent-3.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
        form(style='color: #757575;' action="/submit-query" method="POST")
          input#defaultContactFormName.form-control.mb-4(type='text' name="name" placeholder='Name' required=true)
          input#defaultContactFormEmail.form-control.mb-4(type='email' name="email" placeholder='E-mail' required=true)
          .form-group
            textarea#exampleFormControlTextarea2.form-control.rounded-0(name="message" rows='3' placeholder='Message' required=true)
          button.btn.btn-info.btn-rounded.z-depth-0(type='submit')
            i.fas.fa-paper-plane.mr-3 
            | Send

      .col-md-4.mx-auto.mb-md-0.mb-4
        h6.text-uppercase.font-weight-bold Phone
        hr.blue.accent-3.mb-3.mt-0.d-inline-block.mx-auto(style='width: 60px;')
        p
          i.fas.fa-phone.mr-3
          |  + 91 99995 05187
          
        h6.text-uppercase.font-weight-bold.mt-5 Email
        hr.blue.accent-3.mb-3.mt-0.d-inline-block.mx-auto(style='width: 60px;')
        p
          i.fas.fa-envelope.mr-3
          |  rohilla.abhishek.27@gmail.com
          
        h6.text-uppercase.font-weight-bold.mt-5 Address
        hr.blue.accent-3.mb-3.mt-0.d-inline-block.mx-auto(style='width: 60px;')
        p
          i.fas.fa-home.mr-3
          |  287 Bijwasan, New Delhi 110061
          
  .footer-copyright.text-center.text-black-50.py-3
    | &copy; 2018 Copyright:
    a.dark-grey-text(href='#')  Abhishek Rohilla Photography
