doctype html
html
  head
    meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title= title
  block styles
    link(rel='stylesheet' href='/stylesheets/libs//compiled-4.8.0.min.css')
    style.
      img {
      width: 100%;
      }
  body.p-2.white-skin
    block content

    block scripts     
      script(src='https://code.jquery.com/jquery-3.3.1.min.js')
      script(src='/javascripts/libs/compiled.16.min.js')
      script(src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js')
      script(src='https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js')
      script.
        $(document).ready(function () {
          $(function () {
            $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
          });
          const $grid = $(".mdb-lightbox").masonry({
            itemSelector: ".item"
          });
          $grid.imagesLoaded().progress(function () {
            $grid.masonry("layout");
          });
          
          $(".button-collapse").sideNav();
        })
